<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="goBack"></ion-back-button>
    </ion-buttons>
    <ion-title>projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content> -->


<ion-tabs>

    <ion-tab-bar slot="bottom">
   
      <ion-tab-button tab="myteams">
        <ion-icon name="sunny"></ion-icon>
        <ion-label>My Teams</ion-label>
      </ion-tab-button>
   
      <ion-tab-button tab="allteams">
        <ion-icon name="moon"></ion-icon>
        <ion-label>All Teams</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
   
  </ion-tabs>